/*
 * Copyright (c) 2022 Google LLC.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {


	hall_sw: hall_sw {
		compatible = "power-switch";
		/* using built-in LED pin for demonstration */
		gpios = <&gpioa 0 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        status = "okay";
	};

	buttons {
		compatible = "gpio-keys";
		hall1: hall1 {
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			label = "Hall1";
		};
		hall2: hall2 {
			gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
			label = "Hall2";
		};
	};

	relais1_sw: relais1_sw {
		compatible = "power-switch";
		/* using built-in LED pin for demonstration */
		gpios = <&gpioa 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        status = "okay";
	};

	relais2_sw: relais2_sw {
		compatible = "power-switch";
		/* using built-in LED pin for demonstration */
		gpios = <&gpioa 3 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        status = "okay";
	};

	relais3_sw: relais3_sw {
		compatible = "power-switch";
		/* using built-in LED pin for demonstration */
		gpios = <&gpioa 4 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        status = "okay";
	};
	relais4_sw: relais4_sw {
		compatible = "power-switch";
		/* using built-in LED pin for demonstration */
		gpios = <&gpioa 5 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        status = "okay";
	};

	aliases {
		green-led = &green_led;
	};
};
